// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */

html {
  box-sizing: border-box;
  font-size: $rem-base;
  scroll-behavior: smooth;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  --animFive: 0.5s;
}

/**
 * Basic typography style for copy text
 */

body {
  @include font-opentype;
  @include font-smoothing;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.7rem;
  font-weight: normal;
  line-height: 1.8em;
  text-wrap: pretty;
}

.prox-reg {
  font-family: 'ProximaNova', Arial, Helvetica, sans-serif;
  font-weight: normal;
}
